{% extends "::layout.html.twig" %}

{% block title %}
  Code source - {{ parent() }}
{% endblock %}

{% block body %}
  <h2>Code source du blog</h2>
  <p>
  	Voici le code source de ce blog, tiré du cours :
  </p>

  <div id="repo"></div>

  <p>
    Vous le trouverez également sur Github à l'adresse suivante : <a href="https://github.com/winzou/SdzBlog">https://github.com/winzou/SdzBlog</a>.
  </p>
{% endblock %}