{% extends "::layout.html.twig" %}

{% block title %}
  Code source - {{ parent() }}
{% endblock %}

{% block body %}
  <h2>Code source du blog</h2>
  <p>
    Vous trouverez le code source de ce blog, tiré du cours, à l'adresse suivante : <a href="https://github.com/winzou/SdzBlog">https://github.com/winzou/SdzBlog</a>.
  </p>
{% endblock %}