{% extends "::layout.html.twig" %}

{% block title %}
  Code source - {{ parent() }}
{% endblock %}

{% block body %}
  <h2>Code source du blog</h2>
  <p>
  	Le code source suivant est celui du blog, construit grâce au cours Symfony2. Il répond à deux objectifs :
  </p>
  <ul>
    <li>
      D'une part, il permet de retrouver tous les <strong>exemples du livre</strong>. Cela vous évite les copier-coller, ou vous confirme que votre code
      est le même que celui du cours.
    </li>
    <li>
      D'autre part, il peut servir comme exemple de projet Symfony2 totalement opérationnel. Que vous vous lanciez dans un blog ou un
      autre site, le code représente celui d'un <strong>projet entier sous Symfony2</strong>, utilisant plusieurs bundles, bref une source
      d'inspiration ! N'hésitez donc pas à vous en inspirer ou à vérifier quelques bonnes pratiques.
    </li>
  </ul>

  <p>
    Voici donc le code source en question, qui est celui utilisé sur ce même site :
  </p>

  <div id="repo"></div>

  <p>
    Vous le trouverez également sur Github à l'adresse suivante : <a href="https://github.com/winzou/SdzBlog">https://github.com/winzou/SdzBlog</a>.
  </p>
{% endblock %}